*{
    box-sizing: border-box;
    transition: all .5s ease;
    padding:0;
}
body{
    background-color:#FFF8F2;
    color:#282828;
    font-family: "Nunito", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.7rem;
    margin: 0;
    text-align: center;
}
header, main, footer{
    max-width: 100%;
    margin: auto;
}
header h1{
    margin-top: 3rem;
}
main{
    max-width: 40rem;
    width: 80%;
}
main a{
    color:#AB513F;
}
main a:hover{
    color:#2E7583;
}
a{
    color:#ED735A;
    font-weight: 500;
    text-decoration: underline solid 1px;
    text-underline-offset: 5px;
    transition: all .5s ease;
}
a:hover{
    color:#fa9d72;
}
a:focus, a:active{
    font-weight: bold;
}
.external:after{
  content: ' ↗';
}
h1{
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
/*
h2, h3{
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    text-transform: uppercase;
*/
h2, h3, h4, h5, h6{
    font-family: "Caveat", cursive;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
button{
    cursor:pointer;
}
.josefin-heading{
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    text-transform: uppercase;
}
/************* navigation *************/
nav{
    background-color: #282828;
    padding: 0.1rem;
}
nav ul{
    padding-left: 0;
    text-align: center;
}
nav li{
    list-style: none;
}
nav a{
    color:#c3bfbc;
    display:block;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight:600;
    letter-spacing: 0.15rem;
    padding: 0.5rem 1.5rem;
    text-decoration: underline solid 1px transparent;
    text-transform: uppercase;
}
nav a:hover{
    color:#ED735A;
    text-decoration: underline solid 1px;
}
nav a:active, nav a:focus{
    color:#FFF8F2;
    font-weight: bold;
}
.contact-nav{
    background-color: #824239;
    border-radius: 5px;
    color:#fff8f2;
    display: inline-block;
    margin-top: 0.5rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    transition: all .3s ease;
}
.contact-nav:hover{
    background-color: #8d4c3f;
    color:#fff8f2;
    text-decoration: none;
    transform:scale(1.05);

}
/************* footer *************/
footer{
    background-color: #282828;
    color:#c3bfbc;
    margin:0;
    margin-top: 5rem;
    padding: 3rem 0;
}
.footer-icon{
    color:#c3bfbc;
    transition: all .3s ease;
    padding-left: 0.7rem;
    margin-bottom: 1.5rem;
}
.footer-icon:hover{
    color:#ED735A;
    transform:scale(1.1);
}
/************* home page *************/
.parallax{
    align-items: center;
    min-height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:4rem;
    margin-bottom:3rem;
    margin-top: -1px;
    position:relative;
}
.parallax::before{
    background-attachment: fixed;
    background-position:center;
    content: "";
    position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(images/3-magazines.png);
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(60%);
	z-index: -1;
}
.title, .tagline-home{
    color:#FFF8F2;
    filter: drop-shadow(0px 0px 10px black);
    margin:0;
}
.tagline-home{
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    font-weight:600;
    letter-spacing: 3px;
    margin-top: 1rem;
}
.subtitle{
    font-size:1.5rem;
}
.home-button{
    background-color: #ED735A;
    border-radius:50px;
    color:#282828;
    display: inline-block;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    height:fit-content;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
    padding:1rem 1.6rem 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width:fit-content;
}
.home-button:hover{
    background-color: #f49163;
    color:#282828;
    transform: scale(1.05);
}
.subheading-home{
    color:#824239;
    font-size: 2rem;
    font-weight:800;
    margin-bottom: 1rem;
    margin-top:1rem;
}
.self-home{
    border-radius:50%;
    box-shadow: 0 0 30px #28282863;
    min-width: 10rem;
    width:25%;
}
/************* about page *************/
.self{
    min-width: 15rem;
    width:25%;
}
.subheading-about{
    color:#824239;
    font-size: 2rem;
    font-weight:800;
    margin-bottom: 1rem;
}
.cta-about{
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
}
.about-button{
    background-color: #ED735A;
    border-radius:50px;
    color:#282828;
    display: inline-block;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height:fit-content;
    letter-spacing: 0.2rem;
    padding:1.1rem 1.7rem 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width:fit-content;
}
.about-button:hover{
    background-color: #f49163;
    color:#282828;
    transform: scale(1.05);
}
/************* projects page *************/
.tagline-projects{
    color:#824239;
    font-weight:800;
    margin-top: -1rem;
}
.card{
    margin-bottom: 5rem;
}
.card h2{
    margin-bottom:-0.5rem;
}
.card img{
    border: 3px solid transparent;
    border-radius: 10px;
    width:100%;
    filter: brightness(90%) saturate(125%);
}
.card img:hover, .card img:focus{
    border: 3px solid #FEE7D1;
    filter: none;
    transform: scale(1.01);
}
.card-button{
    background-color: #ED735A;
    border-radius:50px;
    color:#282828;
    display: inline-block;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin-top: 1rem;
    padding:0.8rem 1rem 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width:fit-content;
}
.card-button:hover{
    background-color: #f49163;
    color:#282828;
    transform: scale(1.05);
}
/************* badges page *************/
.badges-div{
    margin-top:2rem;
}
.badges-gallery{
    margin-top:2rem;
}
.badges-gallery img{
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 75%;
}
.badges-button{
    background-color: #ED735A;
    border-radius:50px;
    color:#282828;
    display: inline-block;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height:fit-content;
    letter-spacing: 0.2rem;
    margin-top: 3rem;
    padding:1.1rem 1.7rem 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width:fit-content;
}
.badges-button:hover{
    background-color: #f49163;
    color:#282828;
    transform: scale(1.05);
}
/************* contact page *************/
form ul{
    list-style: none;
    padding:0;
    margin:0;
}
label{
    display:block;
    font-size: 0.9rem;
    font-weight:800;
    letter-spacing: 0.1rem;
    min-width: 90px;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}
form li{
    margin-top: 1rem;
}
input, textarea{
    border:1px solid #d2c2b8;
    border-radius:50px;
    color:#282828;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.03rem;
    outline:2px solid transparent;
    padding: 10px 15px;
    width:90%;
}
input:focus, textarea:focus {
  border-color: #FEE7D1;
  outline:2px solid #ED735A;
  transition: opacity .3s ease;
}
#msg{
    height:10rem;
    border-radius: 15px;
}
.form-button{
    background-color: #ED735A;
    border:none;
    border-radius:50px;
    color:#282828;
    display: inline-block;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height:fit-content;
    letter-spacing: 0.2rem;
    margin: 10px 0px;
    padding:1.1rem 1.5rem 1rem;
    padding-left: 1.6rem;
    text-transform: uppercase;
    transition: all .3s ease;
    width: fit-content;
}
.form-button:hover{
    background-color: #f49163;
    transform: scale(1.05);
}
/************* ty page *************/
.ty{
    margin-top:5rem;
}
.fa-bounce{
    color:#ED735A;
    margin-bottom: 6rem;
}
/************* desktop and up styling *************/
@media (min-width: 500px){
    /* nav */
	nav a{
		display: inline-block;
	}
    nav li{
        display: inline-block;
    }
    .contact-nav{
        margin-left: 1rem;
        margin-top: 0;
    }
    /* contact */
    label{
        vertical-align: top;
    }
    input, textarea{
        max-width: 400px;
    }
    /* about */
    .about{
        margin:0;
    }
    .self{
        float: left;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 3rem;
    }
    .subheading-about, .about p{
        text-align: left;
    }
    /* projects */
    .projects-main{
        max-width: 60rem;
    }
    .card{
        margin-bottom: 0;
    }
    .project-columns{
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top:2rem;
        row-gap:5rem;
    }
    .card img{
        height:15rem;
        object-fit: cover;
        width:100%;
    }
    /* badges */
    .badges-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}